In [1]:
for num in range (0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(10, 20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [2]:
list2=[10, 20, 14, 55, 43, 87, 76]
print(list2)
print("Number of items in the List2:")
print(len(list2))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:
7

In [4]:
text = "Artificial Intelligence"
print("Artificial Intelligence")
for i in text:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [19]:
print("-Mohammed Hakeem-")
print("-41-")
print("-Interaction Analyst-")

-Mohammed Hakeem-
-41-
-Interaction Analyst-

In [6]:
tup=(1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [7]:
tup1=(0, 1, 2 , 3)
tup2=('Python', 'Hope')
tup3=(tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [18]:
nums=(20, 10, 16, 19, 25, 1, 276, 188)
print(nums)
for i in nums:
    if i % 2 != 0:
        print(i, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [20]:
nums=(20, 10, 16, 19, 25, 1, 276, 188)
print(nums)
for i in nums:
    if i % 2 != 1:
        print(i, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even